html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 2;
    height: 100vh;
    min-height: 600px;
    background-image: url(../img/white.jpg);
    background-position: center center;
    background-size: cover;
}
main{
    display: flex;
}

img{
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-left: 45px;
}

/**Header**/
.contenedor {
    position: relative;
    width: 97%;
    margin: 15px 20px;
    padding: 15px;
    border-radius: 20px;
    background-image: url(../img/2611227.jpg);
    background-position: center center;
    background-size: cover;
    box-shadow: 0.7rem 1.3rem 3.7rem #000;
}

.logo{
    margin-left: 45px;
}

.user{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-right: 65px;
}
.user-a{
    text-align: center;
    margin-left: 45px;
    color: orange;
    margin-top: 5px;
    text-decoration: none;
}

.user-p {
    margin-left: 60px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
}

.hover a:hover{
    color: white;
}

.titulo-eslogan{
    text-align: center;
    color: white;
}

.titulo-eslogan h1{
    font-size: 70px;
    margin-top: 5px;
    margin: 0px;
}

.titulo-eslogan p{
    font-size: 20px;
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;  
}

/**NAVEGACION**/
.navegacion{
    background-color: rgba(163, 168, 184, 0.562);
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 5px;
    margin-top: 20px;
}

.navegacion a{
    display: inline-block;
    text-decoration: none;
    background-color: #515a6f;
    color: white;
    margin: 10px 60px 10px 93px;
    padding: 10px 30px;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 40px;
    border: 3px solid orange;
}

.navegacion a:hover{
    color: yellowgreen;
}

/**patrocinadores**/
.partner{
    display: flex;
    justify-content: space-between;
}

/**footer**/
.final{
    width: 100%;
    background-image: url(../img/2611227.jpg);
    background-position: center center;
    background-size: cover;
    padding: 1.5rem;
    color: white;
    display: flex;
    font-size: 2rem;
    margin-top: 1rem;
    justify-content: space-between;
}

.final p{
    margin: 0px;
    margin-left: 20px;
    font-size: 13px;
}

.final img{
    width: 80px;
    height: 80px;
}
.social{
    width: 40px!important;
    height: 40px!important;
    margin: 10px 5px;
}

.contacto{
    margin: 0px 0px;
    margin-right: 30px;
}

/**ASIDE**/ 

.barra-lateral{
    display: inline-block;
    width: 255px;
    margin: 20px 20px;
    min-height: 300px;
   /** background: rgb(163, 168, 184);**/
   background-image: url(../img/aside.jpg);
   background-position: center center;
    background-size: cover;
    box-shadow: 0.7rem 1rem 1.5rem #000;
    border-radius: 20px;
}

.barra-lateral img{
    width: 200px;
    height: 200px;
    margin: 10px 25px;
    box-shadow: 0.5rem 0.7rem 1rem #000;
    border-radius: 10px;
}

.barra-lateral p{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    background: rgb(226, 94, 6);
    box-shadow: 0.3rem 0.5rem 0.75rem #000;
}

/**FORMILARIO**/   
.formulario{
    width: 75%;
    min-height: 300px;
    margin: 20px 15px;
    background-color: rgba(163, 168, 184, 0.562);
    padding: 25px;
    border-radius: 10px;
}
.marco{
    border: 0.2rem solid rgba(0, 0, 0, 0.384);
    padding: 10px;
    padding-top: 0;
    border-radius: 7px;
    margin-top: 10px;
}
.formulario h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
}
.formulario h2{
    text-align: center;
    font-size: 25px;
    margin: 0;
}
.formulario p{
    font-size: 20px;
    margin: 0;
    color:orangered;
}
.bandeja{
    width: 100%;
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    border: 0.2rem solid rgb(42, 47, 58);
}

.selectores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boton{
    display: flex;
    margin: 0px 0px;
    justify-content: space-between;
}
.botones{
    width: 50%;
    margin-left: 10px;
    max-height: 50px;
    background-color: rgb(163, 168, 184);
    border: none;
    padding: 1rem;
    margin: 0.5rem 0;
    color: white;
    border: 0.1rem solid rgba(255, 68, 0, 0.753);
}
.cuerpo{
    width: 1200px;
    margin: 0 auto 0 auto;
}